.navstyle{
    /* background-color: transparent!important; */
    color: yellow !important;
    position:fixed !important;
    width: 100%;
    z-index: 100!important;
    /* box-shadow: 0 0 3px 3px #1a1a1a!important */
    opacity: 90%
    
    
    
}
.botonmenu{
   background-color: rgba(253, 194, 0, 0.979) !important;
}

.menu{
    background-color:  rgba(253, 194, 0, 0.979) !important;
    
}